﻿
@{
    ViewBag.Title = "Dept Management";
}

<h2>Departments</h2>

<div class="container">
    <h2>Add Department</h2>
    <input type="text" id="deptId" />
    <input type="text" id="deptName" />
    <input type="text" id="deptLocation" />
    <input type="button" value="ADD" id="addDept" />
    <hr />
    <h2>Del Department</h2>
    <input type="text" id="delDeptId" />
    <input type="button" value="DEL" id="delDept" />
    <hr />
    <ul id="depts"></ul>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <!--
        XSS / Cross Site Scripting, Script Injection
        CSRF = Cross Site Request Forgery
    -->

    <script language="javascript">
        // sql injection
        function htmlEncode(value) {
            var newValue = $('<div />').text(value).html();
            return newValue;
        }

        //strong : félkövér
        //em : dőlt
        function addDeptToList(dept) {
            $('#depts').append('<li><em>[' +
                htmlEncode(dept.deptno) +
                ']</em>' +
                '<strong>' +
                htmlEncode(dept.dname) +
                '</strong>' +
                ' at ' +
                htmlEncode(dept.loc) +
                '</li>');
        }

        //a dept listát frissíti teljesen
        function refreshAll() {
            //a meglévőt töröljük elsőnek
            $('#depts').html('');
            //meg kellene hívnom az apitestdepts oldalt és onnan kiolvasni
            $.getJSON('api/test/depts')
                //ajax hívás: elmegy a háttérben nem blokkolandóan, párhuzamosan
                //ha pontos vesszővel zárnám le: menjen el a request és utána ne történjen semmi
                //de most mögé rakunk még kettő metodus hívást
                //javascriptben nincsen delegate de névtelen függvény van
                .done(function(data) {
                    $.each(data,
                        function(key, item) {
                            addDeptToList(item);
                        });
                })
                .fail(function(jqXHR, textStatus, err) {
                    alert(err);//hibaüzenet megjeleníése ablak feldobásával
                });
        }

        $(document).ready(function() {
            refreshAll();

            var hub = $.connection.deptHub;

            hub.client.refresh = function() {
                refreshAll();
            };

            hub.client.deptAdded = function(dept) {
                addDeptToList(dept);
            };

            $.connection.hub.start().done(function() {
                $('#addDept').click(function() {
                    var dept = {
                        deptno: $('#deptId').val(),
                        dname: $('#deptName').val(),
                        loc: $('#deptLocation').val()
                    };
                    hub.server.addDept(dept);
                });
                $('#delDept').click(function() {
                    hub.server.delDept($('#delDeptId').val());
                });
            });
        });
    </script>
}
