﻿@model IEnumerable<WebLayer.Models.DeptModel>
    
<p style="color:red">@TempData["result"]</p>

@if (Model.Count() == 0)
{
    <p>No data in DB!</p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.deptno)</th>
            <th>@Html.DisplayNameFor(m => m.dname)</th>
            <th>@Html.DisplayNameFor(m => m.loc)</th>
            <th>Datasheet</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.deptno)</td>
                    <td>@Html.DisplayFor(m => item.dname)</td>
                    <td>@Html.DisplayFor(m => item.loc)</td>
                    <td>@Html.ActionLink("Details", "Details", new {id = item.deptno})</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.deptno })</td>
                    <td>@Html.ActionLink("Remove", "Remove", new { id = item.deptno })</td>
                </tr>
            }
        </tbody>
    </table>
}