﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (IsPost)
{
    <p>From ViewBag: @ViewBag.ProcessedOutput</p>
    <p>@Html.ActionLink("Back to the forms", "Index")</p>
}
else
{
    //ilyet többet nem fogunk csinálni
    <form method="post" action="/Form/ProcessOne">
        Uname: <input type="email" name="userName" />
        Upass: <input type="password" name="userPass" />
        <input type="submit" value="SEND P1"/>
    </form>
    <hr/>
    <form method="post" action="/Form/ProcessTwo">
        Uname: <input type="email" name="userName" />
        Upass: <input type="password" name="userPass" />
        <input type="submit" value="SEND P2" />
    </form>
}